<div class="sidenav-container">
    <nav class="sidenav">
        <!-- TODO: List Groups & Users -->
        <h4 class="list-group-header">Groups</h4>
        <ul class="list-group list-group-flush">
            <a href="#" class="list-group-item list-group-item-action">A second link item</a>
            <a href="#" class="list-group-item list-group-item-action">A third link item</a>
            <a href="#" class="list-group-item list-group-item-action">A fourth link item</a>
          </ul>

          <h4 class="list-group-header">Users</h4>
          <ul class="list-group list-group-flush">
            <a href="#" class="list-group-item list-group-item-action">A second link item</a>
            <a href="#" class="list-group-item list-group-item-action">A third link item</a>
            <a href="#" class="list-group-item list-group-item-action">A fourth link item</a>
        </ul>
    </nav>

    <div class="article">
        <ng-content></ng-content>
    </div>
</div>