<div>
  <div *ngIf="!(sourceType | isSender)" class="author" [ngClass]="{
      'primary-color': sourceType | isSender,
      'secondary-color': !(sourceType | isSender)
    }">
    <p class="small">{{message.author}}</p>
  </div>
  <div *ngIf="message">
    <div class="message-container">
      <div class="message py-2 px-3 mb-2 rounded" [ngClass]="{
            'bg-primary': sourceType | isSender,
            'bg-secondary': !(sourceType | isSender),
            'align-end': sourceType | isSender
          }">
        <p class="mb-0 text-small text-white">{{message.content}}</p>
      </div>
      <p class="timestamp small text-muted" [class.align-end]="sourceType | isSender">{{message.sentAt | date: 'short'}}
      </p>
    </div>
  </div>
</div>
